.p1 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.p2 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.p3 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.h1 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.h2 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.h3 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }
