.p1 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: aqua; }

.p2 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: azure; }

.p3 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: blueviolet; }

.h1 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: crimson; }

.h2 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.h3 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.h1 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }

.i1 {
  padding: 0%;
  margin: 50;
  border-radius: 200px;
  height: 400px;
  width: 400px; }

.i2 {
  padding: 0%;
  margin: 50;
  border-radius: 200px;
  height: 400px;
  width: 400px; }

.i3 {
  padding: 0%;
  margin: 50;
  border-radius: 200px;
  height: 400px;
  width: 400px; }

.i4 {
  padding: 0%;
  margin: 50;
  border-radius: 200px;
  height: 400px;
  width: 400px; }

.i5 {
  padding: 0%;
  margin: 50;
  border-radius: 200px;
  height: 400px;
  width: 400px; }

h1 {
  margin: 20px 0 1.5%; }

p {
  margin: 20px 0 1.5%; }

body {
  color: black; }

.l1 {
  color: blue;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: red; }
  .l1 a {
    color: grey;
    font: size 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }

.l2 {
  color: bisque;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }
  .l2 a {
    color: aqua;
    font-size: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }

.l3 {
  color: bisque;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large; }
  .l3 a {
    color: gold;
    font-size: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }

.grad {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 1%;
  background-color: #555;
  background-color: -webkit-gradient(linear, left, top, left, bottom, from(#555), to(#666));
  background-image: -webkit-linear-gradient(top, #555, #666);
  background-image: -moz-linear-gradient(top, #555, #666);
  background-image: ms-linear-gradient(top, #555, #666);
  background-image: -o-linear-gradient(top, #555, #666); }
  .grad .intro, .grad .feature {
    background: rgba(51, 51, 51, 0.5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 38.19444%; }
  .grad .feature {
    border: 1px solid yellow;
    width: 618.05556%; }

ul.social-links li {
  list-style: none; }
  ul.social-links li a {
    display: block;
    float: left;
    width: 65px;
    height: 65px;
    text-indent: -999px; }

.html5 {
  background: url(../img/html5.svg) no-repeat; }

.css3 {
  background: url(../img/css3.svg) no-repeat; }

.sass {
  background: url(../img/sass.svg) no-repeat; }

.vscode {
  background: url(../img/vscode.svg) no-repeat; }

.docker {
  background: url(../img/docker.svg) no-repeat; }

.npm {
  background: url(../img/npm.svg) no-repeat; }

.um {
  background: black; }

.dois {
  background: #141414; }

.tres {
  background: white; }

.quatro {
  background: #3c3c3c; }

.tres {
  color: white; }
