$margin: 1.5%;
@mixin flex-column {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}
@mixin img {
  padding: 0%;
  margin: 50;
  border-radius: 200px;
  height: 400px;
  width: 400px;
}
.p1 {
  @include flex-column;
  color: aqua;
}

.p2 {
  @include flex-column;
  color: azure;
}
.p3 {
  @include flex-column();
  color: blueviolet;
}
.h1 {
  @include flex-column();
  color: crimson;
}
.h2 {
  @include flex-column();
}
.h3 {
  @include flex-column();
}

.h1 {
  @include flex-column();
}
.i1 {
  @include img();
}
.i2 {
  @include img();
}
.i3 {
  @include img();
}
.i4 {
  @include img();
}
.i5 {
  @include img();
}

.pp {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: firebrick;
}
.pp2 {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  color: salmon;
}
.pp1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  color: cyan;
}
.pp3 {
  font-size: smaller;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: pink;
}

h1 {
  margin: 20px 00 $margin;
}
p {
  margin: 20px 00 $margin;
}
body {
  color: black;
}
@mixin border($radius: 20px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
.l1 {
  color: blue;
  @include flex-column();
  a {
    color: grey;
    font: size 20px;
    @include border(10px);
  }
}
.l2 {
  color: bisque;
  @include flex-column();
  a {
    color: aqua;
    font-size: 10px;
    @include border(10px);
  }
}
.l3 {
  color: bisque;
  @include flex-column();
  a {
    color: gold;
    font-size: 20px;
    @include border(10px);
  }
}
@mixin circulo($width,$color) {
  width: $width;
  height: $width;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  border-radius: $width/2;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: $color;
}
@mixin triangulo($width, $dir,$color) {
  @if $dir==up {
    width: 0;
    height: 0;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $width solid $color;
  } @else if $dir== down {
    width: 0;
    height: 0;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
  }@else if $dir== r {
    width: 0;
    height: 0;
    border-left: $width solid transparent;
    border-bottom: $width solid transparent;
    border-top: $width solid $color;
  }
  @else if $dir== l {
    width: 0;
    height: 0;
    border-bottom: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
  }
}
.circulo {
  @include circulo(500px,blue);
  display: block;
}
.triangulo {
  @include triangulo(500px, up,blue);
  display: block;
}
.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
