@mixin phone {
  @media only scream and(max-width:480px) {
    @content;
  }
}
.main {
  .header {
    width: 80%;
    margin: 0 auto;
    height: 200px;
  }
  @include phone {
    .header {
      width: 100%;
    }
  }
}
%blue {
  color: white;
  background-color: blue;
  font-size: 14px;
}
.sign {
  @extend %blue;
}
.box {
  @extend %blue;
}
