$margin: 1.5%;
@mixin flex-column {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}
@mixin img {
  padding: 0%;
  margin: 50;
  border-radius: 200px;
  height: 400px;
  width: 400px;
}
@mixin border($radius: 20px) {
  -web-kit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
body{
  background: #262626;
}
.p1 {
  @include flex-column;
  color: aqua;
}

.p2 {
  @include flex-column;
  color: azure;
}
.p3 {
  @include flex-column();
  color: blueviolet;
}
.h1 {
  @include flex-column();
  color: crimson;
}
.h2 {
  @include flex-column();
}
.h3 {
  @include flex-column();
}

.h1 {
  @include flex-column();
}
.i1 {
  @include img();
}
.i2 {
  @include img();
}
.i3 {
  @include img();
}
.i4 {
  @include img();
}
.i5 {
  @include img();
}

h1 {
  margin: 20px 00 $margin;
}
p {
  margin: 20px 00 $margin;
}
body {
  color: black;
}
@mixin border($radius: 20px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
.l1 {
  color: blue;
  @include flex-column();
  @include border();
  a {
    color: grey;
    font: size 20px;
    @include border(10px);
  }
  background-color: red;
}
.l2 {
  color: bisque;
  @include flex-column();
  a {
    color: aqua;
    font-size: 10px;
    @include border(10px);
  }
}
.l3 {
  color: bisque;
  @include flex-column();
  a {
    color: gold;
    font-size: 20px;
    @include border(10px);
  }
}
$cream:#555;
$cream2:#666;
.grad {
  @include border();
  padding: 1%;
  background-color: $cream;
  background-color: -webkit-gradient(linear,left,top,left,bottom,from($cream),to($cream2) );
  background-image: -webkit-linear-gradient(top,$cream,$cream2) ;
  background-image:   -moz-linear-gradient(top,$cream,$cream2);
  background-image:     ms-linear-gradient(top,$cream,$cream2);
  background-image:       -o-linear-gradient(top,$cream,$cream2);
  .intro {
    background: rgba(#333, 0.5);
    @include border;
    width: percentage(550px/ 1440px);
  }
  .feature{@extend .intro;border: 1px solid yellow;
    width: percentage(890px/ 144px);}
}
ul.social-links li {
  list-style: none;
  a {
    display: block;
    float: left;
    width: 65px;
    height: 65px;
    text-indent: -999px;
  }
}

$icons: (html5, css3, sass, vscode, docker, npm);
@each $social in $icons {
  .#{$social} {
    background: url(../img/#{$social}.svg) no-repeat;
  }
}
// nth(10px 20px 30px,1)=>10px
// nth((Helvetica,Arial,sans-serif),3)=>sans-serif
// @each $p in (um black, dois black, tres black+40, quatro black + 60) {
//   .#{nth($p,1)} {
//     background: #{nth($p, 2)};
//      color:contraste-testo(nth($p,2)); 
//   }
// }
@function  contraste-testo($fundo){
@if lightness($fundo)<50% { 
  @return white;
} @else {
  @return black;
}
}
// @for $i from 1 through 4 {
//   .par-#{$i}
//   {
//     margin-right: 20px*$i;
//   }
//  }
$i:1;
$parbg:black;
@while $i< 5 {
.par-#{$i}{
  margin-left: 100px*$i; 
  background: $parbg;
  color: contraste-testo($parbg);
}
$parbg:lighten($parbg,25%);   
$i:$i+1;
}
